body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("./Src Img/Neon.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 70px;
    padding-bottom: 5px;
    text-align: center;
    h5 {
        text-align: left;
        padding-left: 20px;
    }

}

main ul {
    text-align: center;
    max-width: 450px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;

}

main ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}

main ul li label {
    display: inline; /* Para que los labels ocupen solo el espacio necesario */
    text-align: right; /* Alinea el texto del label a la derecha */
    margin-right: 10px; /* Espacio entre el label y el cuadro de entrada */
    width: 140px;
}


main ul li input {
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 5px; /* Espacio interno del cuadro de entrada */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

main ul li button {
    background-color: #30b1ec;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 50px; 
    border: none; 
    cursor: pointer; 
}