.filtradoYBuscado_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 10px;

}

.iconoDeUsuario_container{
    gap: 20px;
}

.iconoDeUsuario_container p{
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.iconoDeUsuario_container p:hover {
    color: rgb(255, 72, 255);
}

.filtrarPorCategoria select {
    width: 300px;
    height: 28px;
    border-radius: 25px;
    text-decoration: none;
    border-style: none;
    padding-left: 20px;
}

.todasLasCategorias-option {
    color: rgba(0, 0, 0, 0.397);
}

.cerrarSesion_container {
    align-content: center;
}

.cerrarSesion {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}

.cerrarSesion:hover {

    color: rgb(255, 72, 255);}

.buscarPorNombre {
    display: flex;
    align-items: center;
    justify-content: end;
}

.buscarPorNombre input {
    width: 300px;
    height: 28px;
    border-radius: 25px;
    text-decoration: none;
    border-style: none;
    padding-left: 20px;
}

.buscarPorNombre button {
    background-color: #fff;
    width: 50px;
    height: 28px;
    border-radius: 25px;
    border-style: none;
    position: absolute;
}

.caja {
    width: 200px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(29, 27, 32);
    background-color: gray;
    text-align: center;
    line-height: 150px;
    border-radius: 8px;
    transition:all 1s;
    cursor: pointer;
}

.caja:hover {
    border: 2px solid white;
    -webkit-box-shadow: 0px 0px 16px 2px rgb(117, 117, 117);
    -moz-box-shadow: 0px 0px 16px 2px rgb(117, 117, 117);
    box-shadow: 0px 0px 16px 2px rgb(117, 117, 117);
}


.caja img {
    width: 200px;
    height: 300px;
    border-radius: 5px;

}

.layout {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .filtradoYBuscado_container {
        flex-direction: column-reverse;
    }

    .buscarPorNombre {
        margin-bottom: 15px;
    }

    .buscarPorNombre input {
        width: 250px;
    }

    .filtrarPorCategoria select {
        width: 270px
    }

}
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-track-container {
    display: flex;
    justify-content: center;
  }
  
  .carousel-track {
    height: 20em;
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: calc(100% * 4);
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-button.prev {
    left: 0;
  }
  
  .carousel-button.next {
    right: 0;
  }
  
  .peli {
min-width: calc(100% / 4 - 20px);
    margin: 0 10px;
    
  }
  .carousel-track .peli {
    width: 100%; /* Ajusta el tamaño de cada elemento <li> al 100% del contenedor */
    height: 100%; /* Ajusta el tamaño de cada elemento <li> al 100% del contenedor */
    overflow: hidden; /* Para asegurar que no haya desbordamiento de contenido */
}

.carousel-track .peli .peliImg {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor <li> */
    height: 100%; /* La imagen ocupa el 100% de la altura del contenedor <li> */
    object-fit: cover; /* Ajusta la imagen para cubrir el tamaño del contenedor sin deformarla */
}