html {
    width: 100%;
}
body{
    width: 100%;
}
.nombreyfoto{
    display: flex;
    flex-direction: column;
}
.nombreyfoto img {
    height: 80px;
    width: 80px;
}
nav{
  justify-content: center;
 
  }


.todosLosDatos{
   
   display: flex;
   
    flex-direction: row;
    justify-content: center;
    list-style: none;
} 
.emailYContraseña{
    width: 500px;
    align-items: center;
   
       li {
        display: block;
       }
 
    }
    .email{
        
        li {
            display: inline;
        
        }
    }
    .contraseña {
       
    
      
       li {display: inline
        
       
    }
}


.metododepago {
   ul {
     list-style: none;
   }
}
   
.li-nuevacontraseña input{
    margin-left: 23px;
}
  
.nombreyfoto {
 
    justify-content: center;
}

.nombreyfoto p{
    text-align: center;

    
}
.button-cancel {
    background-color: #ec3049;
    color: white;
    font-weight: bold;
    padding: 7px 50px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button-confirm{
     
    background-color: #30ec39;
    color: white;
    font-weight: bold;
    padding: 10px 50px; 
    border-radius: 5px;
    cursor: pointer; 
    display: inline-block;
    align-items: center;
}
.submit-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
    
    .todosLosDatos{
        flex-direction: column;
      align-items: center;
        /*justify-content: space-around;*/
    }
    .emailYContraseña{
     
        text-align: center;
    }
    .email {
        justify-content: flex-end;
        align-items: flex-end;
  
}

}