html {
    width: 100%;
}
body{
    width: 100%;
}
.nombreyfoto{
    display: flex;
    flex-direction: column;
}
.nombreyfoto img {
    height: 80px;
    width: 80px;
}
nav{
  justify-content: center;
 
  }

#textoTarjeta{
    display: block;
    margin-bottom: 5px;
}
.todosLosDatos{
   margin-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 300px;
} 
.emailYContraseña{
    align-items: center;
   
       li {
        display: block;
       }
 
    }
    .email{
        margin-bottom: 5px;
        li {
            display: inline;
        
        }
    }
    #confirmarContraseña{
        margin-left: 25px;
    }
    .contraseña {
       margin-bottom: 5px;
    
      
       li {display: block
        
       
    }
}

.centrado-radioYLabel{
    margin-bottom: 10px;
}

.emailYContraseña ul {
    padding: 0;
}


.metododepago { width: 35%;
   ul {
     list-style: none;
   }
}

.pago-tarjeta{
    margin-bottom: 20px;
}

.numeroDeTarjeta_label {

    margin-bottom: 10px;
}

.numerotarjeta{
    margin-bottom: 10px;
}

.checkboxes-cupon {
    margin-bottom: 25px;
}
   
.li-nuevacontraseña input{
    margin-left: 49px;
}
  
.nombreyfoto {
 
    justify-content: center;
}

.nombreyfoto p{
    text-align: center;

    
}
.button-cancel {
    background-color: #ec3049;
    color: white;
    font-weight: bold;
    padding: 7px 50px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button-confirm{
     
    background-color: #30ec39;
    color: white;
    font-weight: bold;
    padding: 10px 50px; 
    border-radius: 5px;
    cursor: pointer; 
    display: inline-block;
    align-items: center;
}
.button-confirm:disabled {
        background-color: #CCCCCC; 
        color: #666666;
        opacity: 0.7;
      
    }
    .confirmcontraseña{
        display: block;
    }
@media screen and (max-width: 768px) {
    
    .todosLosDatos{
        flex-direction: column;
      align-items: center;
    }
  
    .email {
        text-align: center;
        align-items: flex-end;
  
    }
    .contraseña{ margin-top: 15px;
        input{
            margin: 0;
            display: block;
        }
        li{
            text-align: center;
            display: block;
            margin-bottom: 15px;
        }
        text-align: center;
    }

    .nuevaContrasena_form{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #confirmarContraseña {
        margin-left: 0px;
    }

    .nuevaContrasena_form input {
        margin-top: 10px;
    }

    .metododepago {
        width: auto;
    }

    .pago-tarjeta{
        align-items: center;
    }

    .datos-tarjeta{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .metododepago{
    text-align: center;
    margin-top: 50px;
    }

    .centrado-radioYLabel{
        display: flex;
        margin: 0 auto;
        width: 200px;
        align-items: center;
        margin-bottom: 10px;
    }

    .pago-cupon{
        margin-top: 30px;
    }

    .pago-transferencia{
        width: 100%;
        margin-top: 30px;
    }

    .pago-transferencia p{
        text-align: center;
    }
    
    .submit-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        overflow: hidden;
    }

}