html {
    width: 100%;
}
body{
    width: 100%;
}
.nombreyfoto{
    display: flex;
    flex-direction: column;
}
.nombreyfoto img {
    height: 80px;
    width: 80px;
}
nav{
  justify-content: center;
 
  }


.todosLosDatos{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 60px;
} 
.emailYContraseña{
    align-items: center;
   
       li {
        display: block;
       }
 
    }
    .email{
        
        li {
            display: inline;
        
        }
    }
    .contraseña {
       
    
      
       li {display: inline
        
       
    }
}

.emailYContraseña ul {
    padding: 0;
}


.metododepago {
   ul {
     list-style: none;
   }
}
   
.li-nuevacontraseña input{
    margin-left: 23px;
}
  
.nombreyfoto {
 
    justify-content: center;
}

.nombreyfoto p{
    text-align: center;

    
}
.button-cancel {
    background-color: #ec3049;
    color: white;
    font-weight: bold;
    padding: 7px 50px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button-confirm{
     
    background-color: #30ec39;
    color: white;
    font-weight: bold;
    padding: 10px 50px; 
    border-radius: 5px;
    cursor: pointer; 
    display: inline-block;
    align-items: center;
}
@media screen and (max-width: 768px) {
    
    .todosLosDatos{
        flex-direction: column;
      align-items: center;
    }
  
    .email {
        text-align: center;
        align-items: flex-end;
  
    }
    .contraseña{
        input{
            margin: 0;
            display: block;
        }
        li{
            text-align: center;
            display: block;
        }
        text-align: center;
    }
    .pago-tarjeta{
        align-items: center;
    }
    .metododepago{
    text-align: center;
    }

    .submit-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        overflow: hidden;
    }

}