h3{
  
  text-align: center;
}
html{
  width: 100%;
}
body {
  width: 100%;
}

.ingresoDatos {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: auto;
  align-items: center;
  margin: auto;
  margin-top: 110px;
 
}
.ingresoDatos_Email {

  display: flex;
  flex-direction: column;
 text-align: center;
  padding-left: 70px;

  margin: 0 auto;
  margin-top: 40px;
}
.ingresoDatos_Email input {
  
  margin-left: 40px;
  padding: 5px;
}
.ingresoDatos_Usuario {
  display: flex;
  text-align: center;
  padding: 2px;
  width: fit-content;

  margin:0 auto;
  margin-top: 10px;
}
.ingresoDatos_Usuario input {
  margin-left: 10px;
  padding: 5px;
}
.submit_recuperarContraseña {
  margin: 35px;
  text-align: center;
}
.btn_warning {
  font-size: 15px;
    border: none;
  color: black;
  background-color: red;
  padding: 7px 17px;
  margin-left: 20px;
  margin-right: 10px;
  text-decoration: none;
  
  border-radius: 5px;
}
.btn_submit{
    border: none;
  color: black;
  background-color: green;
  padding: 7px 17px;
  text-decoration: none;
  border-radius: 4px;
}
main {
  margin: 0%;
}
body {
  margin: 0%;
}


