main ul {
    text-align: left;
    max-width: 450px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
h2 {
    color: white;
    margin-bottom: 80px;
    text-align: center;
}

.container-register {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 400px;
}

/* .pagina {
    display: flex;
} */

.pagina-forms .formulario {
    flex: 1;
    ul li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width: fit-content;
    }

    ul li label {
        display: inline;
        text-align: right;
        margin-right: 20px;
        width: 162px;
        color: white;
    }

    ul li input {
        display: inline-block;
        text-align: center;
        padding: 5px;
        box-sizing: border-box;
    }
}

.contrasena_li i {
    position: absolute;
}

.verificarContrasena_li i {
    position: absolute;
}

.fa-circle-xmark {
    color: #ec3049;
}

.fa-circle-check {
    color: #30ec39;
}

.datos li input {
    width: 300px;
    
    height: 30px;
    padding: 3px;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    
}

.pagina-pago {
    color: white;
    display: flex;
    flex-direction: column;
   /*  flex: 1; */
    align-items: center;
    justify-content: center;
}

.container-metodo-pago {
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
/* .metodo-pago ul li input{
    width: 100%;
} */

.datos-tarjeta {
    padding: 20px;
}

.numerotarjeta,
.codigotarjeta {
    padding: 3px;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.numerotarjeta {
    width: 270px;
    height: 30px;
}
.codigotarjeta {
    height: 30px;
    width: 80px;
}

.checkboxes-cupon {
    padding: 20px;
}

.pago-transferencia p {
    padding: 20px;
}

.submitCancelButtons_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-confirm {
    background-color: #30ec39;
    color: white;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    margin: 10px;
    width: 190px;
    height: 38px;
}

.button-cancel {
    background-color: #ec3049;
    color: white;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    width: 90px;
    height: 18px;
    text-align: center;
}


@media screen and (max-width: 1024px) {

    .container-register {
        font-size: 80%;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 400px;
    }
    .datos li input{
        width: 60%;
    }

    .button-cancel {
        font-size: initial;
    }
}
